{% extends 'layout.html' %}
{% block body %}
<h2> Add a new recipe </h2>
<br>
<div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.recipe_name.label }} {{ form.recipe_name }}
                <br>
                {{form.recipe_time.label}} {{form.recipe_time }}
                <br>
                {{form.servings.label}} {{form.servings }}
                <br>
                {{ form.submit }}
            {{ message }}
	    </form>
</div>
{% endblock body %}